<article>
	<h1>Indemnité licenciement légale</h1>	
		<form class="form-horizontal">
			<div class="form-group">				
				<label class="control-label col-sm-3 col-md-2" for="uiDateEntree">Date d'entrée</label>
				<div class="col-sm-3">
					<input type="text" class="form-control text-right" id="uiDateEntree" placeholder="JJ/MM/AAAA" ng-model="vm.dateEntreeStr" ng-change="vm.updateIndemnite()"/>
				</div>
			</div>
			<div class="form-group">			
				<label class="control-label col-sm-3 col-md-2" for="uiDateSortie">Date de sortie</label>				
				<div class="col-sm-3">				
					<input type="text" class="form-control text-right" id="uiDateSortie" placeholder="JJ/MM/AAAA" ng-model="vm.dateSortieStr" ng-change="vm.updateIndemnite()"/>				
				</div>
			</div>			
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN2">Salaire {{vm.moisN2}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN2" ng-model="vm.salaireN2" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 col-md-2" for="uiSalaireN1">Salaire {{vm.moisN1}}</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control text-right" id="uiSalaireN1" ng-model="vm.salaireN1" ng-change="vm.updateIndemnite()"/>
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
		</form>					
		<blockquote ng-show="vm.isIndemniteValid">
			<p>
				1/5 par année de présence les 10 premières années, puis 2/15 au delà.
					
			</p>							
			<p>
				Montant de l'indemnité : <mark>{{vm.montantIndemnite | number: 2}}€</mark>.
			</p>
		</blockquote>
</article>
