<article>
	<h1>Calcul de l'ancienneté</h1>
	<div>
		<form class="form-inline" ng-submit="vm.updateAnciennete()">
			<div class="form-group">
				<label for="uiDateEntree">Date d'entrée</label>
				<input type="text" class="form-control" id="uiDateEntree" placeholder="JJ/MM/AAAA" ng-model="vm.dateEntreeStr" ng-blur="vm.updateAnciennete()"/>
			</div>
			<div class="form-group">
				<label for="uiDateEntree">au</label>
				<input type="text" class="form-control" id="uiDateFin" placeholder="JJ/MM/AAAA" ng-model="vm.dateFinStr" ng-blur="vm.updateAnciennete()" />
			</div>
		</form>
		<blockquote ng-show="vm.isDateValid">
			<p>
				Ce salarié a <mark>{{vm.anciennete | number:2}} an(s)</mark> d'ancienneté, soit {{vm.ancienneteStr}}.
			</p>
		</blockquote>
</div>
</article>
